<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Jump.js by openlab</title>

    <link rel="stylesheet" href="http://openlab.github.com/jump.js/stylesheets/styles.css">
    <link rel="stylesheet" href="http://openlab.github.com/jump.js/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>jump.js</h1>
        <p>jump.js : jQuery UI Map framework for Google &amp; BING maps</p>
        <p class="view"><a href="https://github.com/openlab/jump.js">View the Project on GitHub <small>openlab/jump.js</small></a></p>
        <ul>
          <li><a href="https://github.com/openlab/jump.js/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/openlab/jump.js/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/openlab/jump.js">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
		{{ content }}
		<span class='st_facebook_hcount' displayText='Facebook'></span>
		<span class='st_twitter_hcount' displayText='Tweet'></span>
		<span class='st_digg_hcount' displayText='Digg'></span>
		<span class='st_reddit_hcount' displayText='Reddit'></span>
      </section>
      <footer>
        
      </footer>
    </div>

	<script type="text/javascript">
			
		var disqus_shortname = 'jumpjs'; 
	    var disqus_identifier = '{{ page.url }}';
		var disqus_url = 'http://openlab.github.com/jump.js{{ page.url }}';

		(function () {
			var s = document.createElement('script'); s.async = true;
			s.type = 'text/javascript';
			s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
	</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "ur-2bf733e1-d424-1d5c-c17e-791750aed961"}); </script>
    <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-31448589-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </body>
</html>